@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
.wrap {
    display: flex;
    justify-content: center;
}
.container {
    width: 1440px;
    height: 1024px;
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.bar {
    width: 1440px;
    height: 60px;
}
.side {
    width: 212px;
    height: 260px;
    flex-shrink: 0;
    position: absolute;
    top: 153px;
    left: 24px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.side_title {
    margin-top: 20px;
    margin-left: 50px;

    color: #444;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.side_buttons {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.side_button {
    display: flex;
    align-items: center;
    gap: 12px;

    border: none;
    background: #fcfcfc;

    color: #9f9f9f;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#my_post {
    color: #444;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.main {
    width: 736px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 93px;
}
.main_title {
    color: #444;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 24px;
}
.main_line {
    width: 736px;
    height: 1px;
    background: #eee;

    margin-bottom: 24px;
}
.main_boxs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}
.content_none {
    margin-top: 36px;

    color: #9f9f9f;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#main_box_mypost {
    width: 736px;
    height: 158px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 2px 2px 4px 0px rgba(159, 159, 159, 0.25);
}
#box_wrap_mypost {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 23px;
    padding-right: 23px;
}
#box_text_mypost {
    display: flex;
    flex-direction: column;
}
.mypost_title {
    padding-bottom: 40px;

    color: #444;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.reacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-bottom: 20px;
}
.react {
    display: flex;
    align-items: center;
    gap: 4px;
}
.bottom {
    display: flex;
    justify-content: space-between;
}
.date_time {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #9f9f9f;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*나브바 추가 */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}
.Title,
.Selectbar,
.Left,
.Right {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.Selectbar div,
.Right div {
    margin-right: 10px;
}
.Selectbar,
.Right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Title {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.navlinklogin,
.navlinksign,
.navlink {
    text-decoration-line: none;
    font-size: 15px;
}
.navlink {
    color: #444444;
    font-weight: bold;
}

.navlinklogin,
.navlinksign {
    color: #5e6f52;
    font-weight: bold;
}
/*나브바 추가*/
