{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyHeart</title>
    <link rel="stylesheet" href="{% static 'css/myHeart.css' %}" />
  </head>
  <body>
    <div class="wrap">
      <div class="container">
        <div class="bar">
          <!-- 나브바 추가 -->
          <nav>
            <div class="Left">
              <div class="Title"><a href="{% url 'before-main' %}"><img src="{% static 'img/logo.svg' %}" /></div>
            </div>
            <div class="Right">
              <div class="search"></div>
              <div class="login">
                <a href="javascript:history.back()" class="navlinklogin"
                  ><img src="{% static 'img/close.png' %}"
                  /></a>
              </div>
            </div>
          </nav>
          <!-- 나브바 추가 -->
        </div>
        <!-- 사이드 버튼 -->
        <div class="side">
          <div class="side_title">활동내역</div>
          <div class="side_buttons">
            <a href="{% url 'myComment' %}" style="text-decoration: none;">
              <button class="side_button" id="my_comment">
                  <img src="{% static 'img/my_comment.svg' %}" alt="My Comments" />
                  <span>내가 쓴 댓글</span>
              </button>
            </a>
            <a href="{% url 'liked_posts' %}" style="text-decoration: none;">
              <button class="side_button" id="my_heart">
                  <img src="{% static 'img/my_heart_black.svg' %}" alt="My Likes" />
                  <span>좋아요 기록</span>
              </button>
            </a>
            <a href="{% url 'scrap_posts' %}" style="text-decoration: none;">
              <button class="side_button" id="my_scrap">
                  <img src="{% static 'img/my_scrap.svg' %}" alt="My Scrap" />
                  <span>스크랩 기록</span>
              </button>
            </a>
            <a href="{% url 'myPost' %}" style="text-decoration: none;">
              <button class="side_button" id="my_post">
                  <img src="{% static 'img/my_post.svg' %}" alt="My Posts" />
                  <span>내가 쓴 글</span>
              </button>
            </a>
          </div>
        </div>
        <div class="main">
          <div class="main_title" id="my_comment_title">좋아요 기록</div>
          <div class="main_menu">
            <button class="main_menu_button" id="post">
              <span id="post_button">글</span>
              <span class="menu_line" id="post_button_line"></span>
            </button>
            <button class="main_menu_button" id="comment">
              <span id="comment_button">댓글</span>
              <span class="menu_line" id="comment_button_line"></span>
            </button>
          </div>
          <!-- 좋아요한 글 기록-->
          <div class="main_boxs" id="main_boxs_post">
            {% for post in liked_posts %}
            <a href="{% url 'post-detail' pk=post.id %}" style="text-decoration: none;">
            <div class="main_box" id="main_box_post">
              <div class="box_wrap" id="box_wrap_post">
                <div class="box_text" id="box_text_post">
                  <div class="post_title1" id="post_title1">
                    {{ post.title }}
                  </div>
                  <div class="post_title2" id="post_title2">
                    {{ post.content|truncatewords:15 }}
                  </div>
                  <div class="writer">By {{ post.writer.nickname }}</div>
                </div>
                <div class="box_img">
                  {% if post.image %}
                  <img class="box_image" src="{{ post.image.url }}" />
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- 좋아요한 댓글 -->
          <div class="main_boxs" id="main_boxs_comment" style="display: none">
            {% for comment in liked_comments %}
            <div class="main_box" id="main_box_comment">
              <div class="box_wrap" id="box_wrap_comment">
                <div class="heart_post_title" id="heart_post_title">
                  원문 | {{ comment.post.title }}
                </div>
                <div class="heart_comment_content" id="heart_comment_content">
                  {{ comment.content|truncatewords:15 }}
                </div>
                <div class="bottom">
                  <div class="id_date_time">
                    <span id="id">{{ comment.writer.nickname }}</span>
                    <div class="date">{{ comment.created_at|date:"Y년 n월 j일" }}</div>
                            <span> </span>
                            <div class="time">{{ comment.created_at|time:"H:i" }}</div>
                    <!-- 시간 추가 -->
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'js/myHeart.js' %}"></script>
</html>
