@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
    font-family: Pretendard; /* 모든 요소에 대해 Pretendard 폰트 적용 */
}
body {
    margin: 0px;
}
.bodybackground {
    position: relative; /* 자식 요소들이 절대 위치로 설정될 수 있도록 함 */
    background-size: cover; /* 배경 이미지가 요소를 덮도록 설정 */
    background-position: center; /* 배경 이미지가 중앙에 위치하도록 설정 */
    background-repeat: no-repeat; /* 배경 이미지가 반복되지 않도록 설정 */
    width: 100%;
    height: 450px; /* 요소 높이 설정 */
}
.bodybackground img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bodybackgroundelements {
    position: absolute; /* 부모 요소에 상대적인 절대 위치 설정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; /* 요소 내부 여백 설정 */
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
    color: white; /* 텍스트 색상 설정 */
}
.backgroundmore {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.backgroundmore,
.backgroundwhen {
    margin: 2%;
}
.backgroundmore div {
    display: flex;
    flex-direction: row;
    color: white;
}
.heartImg,
.commentImg,
.ScrapImg {
    margin-right: 10px;
    margin-left: 10px;
}
.backgroundtitle {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.backgroundwhen,
.backgroundwho {
    display: flex;
    flex-direction: row;
    color: black;
}
.backgroundwho {
    margin-right: 10px;
}

.writingcontents,
.comments,
.likescrap {
    margin-top: 4%;
    margin-left: 25%;
    margin-right: 25%;
}

.likescrap,
.backgroundHeart,
.backgroundScrap,
.commentsetting,
.commentcnt,
.commentcntelements {
    display: flex;
    flex-direction: row;
}
.commentsetting,
.commentssetting {
    width: 100%;
}
.commentsetting {
    margin-bottom: 3%;
}
.commentcnt {
    width: 15%;
}
.commentstitle {
    margin-right: 3%;
}

.commentswrittingbox {
    border: 1px solid green;
    padding: 2%;
    border-radius: 12px;
}
.commentwritingboxelements {
    display: flex;
    flex-direction: column;
}
.commentcntelementsid {
    margin-bottom: 1%;
}
.commentbox {
    border: none;
    padding-top: 10px; /* 상단에 여백을 추가하여 placeholder 위치 조정 */
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
    line-height: 1.5; /* 줄 간격 설정 */
    padding-bottom: 20px;
}

.commentbox::placeholder {
    line-height: normal; /* placeholder 텍스트의 줄 간격을 기본으로 설정 */
}

.commentbtnelements {
    width: 100%;
    display: flex;
    justify-content: right;
}
.commentregister {
    background-color: white;
    border: none;
    color: #9f9f9f;
    margin-top: 10px;
}

.commentswritten {
    margin-top: 3%;
    margin-bottom: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.commentswrittenid {
    margin-bottom: 1%;
    margin-top: 3%;
}
.commentswrittenmore {
    margin-top: 5%;
    color: #9f9f9f;
}
.commentswrittenelements {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    border-top: 1px solid #9f9f9f;
}

.commentswrittenid,
.commentswrittencontents,
.commentswrittenmore {
    margin-right: 2%;
    margin-left: 2%;
}
.commentswrittenmore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.commentswrittenmore div {
    display: flex;
    flex-direction: row;
}

.commentssetting button {
    border: none;
    background-color: white;
    cursor: pointer;
    color: gray; /* 선택되지 않았을 때의 색상 */
}

.commentssetting button:hover {
    background-color: #e5e5e5;
}

.commentssetting button.active {
    background-color: white; /* 선택되었을 때의 배경색 */
    color: black; /* 선택되었을 때의 텍스트 색상 */
}

.commentcntelementsid,
.commentswrittenid {
    font-weight: bold;
    font-size: 16px;
}

.commentcnt {
    font-size: 18px;
    font-weight: bold;
}
.backgroundwhoname,
.bodybackgroundtime {
    margin-left: 4px;
}
#sortOldest:active,
#sordOldest:focus {
    color: #000;
}
#sortNewest:active,
#sordOldest:focus  {
    color: #000;
}
/*nav 바 css */
/*나브바 css*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 0px;
    padding-left: 2%;
    padding-right: 2%;
    background: #fff;
  }
  .Title,
  .Selectbar,
  .Left,
  .Right {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .Selectbar div,
  .Right div {
    margin-right: 10px;
  }
  .Selectbar,
  .Right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Title {
    color: black;
    font-weight: bolder;
    font-size: 20px;
  }
  .navlinklogin,
  .navlinksign,
  .navlink {
    text-decoration-line: none;
    font-size: 15px;
  }
  .navlink {
    color: #444444;
    font-weight: bold;
  }
  
  .navlinklogin,
  .navlinksign {
    color: #5e6f52;
    font-weight: bold;
  }
  /*nav 바 css */