@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  font-family: Pretendard; /* 모든 요소에 대해 Pretendard 폰트 적용 */
}
.wrap {
  display: flex;
  justify-content: center;
}
.container {
  width: 1440px;
  height: 1024px;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.bar {
  width: 1440px;
  height: 60px;
}
.side {
  width: 212px;
  height: 260px;
  flex-shrink: 0;
  position: absolute;
  top: 153px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.side_title {
  margin-top: 20px;
  margin-left: 50px;

  color: #444;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.side_buttons {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.side_button {
  display: flex;
  align-items: center;
  gap: 12px;

  border: none;
  background: #fcfcfc;

  color: #9f9f9f;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#my_scrap {
  color: #444;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main {
  width: 736px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 93px;
}
.main_title {
  color: #444;
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 24px;
}
.main_line {
  width: 736px;
  height: 1px;
  background: #eee;

  margin-bottom: 24px;
}
.content_none {
  margin-top: 36px;

  color: #9f9f9f;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_boxs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}